<!DOCTYPE html>
<html lang="en">
<head class="tabs has-background-dark">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script defer src="https://cdn.jsdelivr.net/npm/bulma@0.9.4/dist/js/bulma.min.js"></script>
 </head>





<body>

<nav class="navbar has-background-primary" th:fragment="~{barra_superior}" >
        <div id="navbarBasicExample" class="navbar-menu is-flex-touch">
            <div class="navbar-item">
                <a class="button" href="/home">
                    Home
                </a>
            </div>
            <div class="navbar-item">
                <a class="button"  href="/paciente/listar">
                    Ver Pacientes
                </a>
            </div>

        </div>
</nav>





</body>
</html>