<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Pacientes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-B2gUdE/kfKDl+pxZHoZJLp/dObOJhM8VEXw1Rro93hiuZtToP/jtjE5+PxeUz8mtmtAxYJtLV6dntGW3cMOF6Q==" crossorigin="anonymous" />

    <div th:replace="~{barra :: ~{barra_superior}}"></div>
</head>
<body>

  <div class="columns">

      <div class="column is-one-quarter">


      </div>

      <div class="column is-half box mt-4">
              <h1 class="title">
                  Tabela de pacientes

                  <a class="button has-background-success is-pulled-right" href="/paciente/cadastro">
                      Cadastrar Paciente
                  </a>
              </h1>
              <table class="table is-touch-flex ">
                  <tr class="table-header">
                      <td class="has-text-weight-bold">Nome</td>
                      <td class="has-text-weight-bold">Idade</td>
                      <td class="has-text-weight-bold">Data de Nascimento</td>
                      <td class="has-text-weight-bold">Sexo</td>
                      <td class="has-text-weight-bold">Telefone</td>
                  </tr>
                  <tr th:each="p :*{pacientes}">
                      <td th:text="${p.nome}"></td>
                      <td th:text="${p.idade}"></td>
                      <td th:text="${p.dataNasc}"></td>
                      <td th:text="${p.sexo}"></td>
                      <td th:text="${p.telefone}"></td>

                      <td>
                          <div class="dropdown is-hoverable">
                              <div class="dropdown-trigger">
                                  <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                                      <span>Opções</span>
                                      <span class="icon">
                                          <ion-icon name="chevron-down-outline"></ion-icon>
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                      </span>
                                  </button>
                              </div>

                              <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                                  <div class="dropdown-content">
                                      <div class="dropdown-item">
                                          <a class="button has-background-danger" th:method="get" th:href="@{excluir/{id}(id=${p.id})}">Excluir</a>
                                      </div>
                                      <div class="dropdown-item">
                                          <a class="button" th:method="get" th:href="@{editar/{id}(id=${p.id})}">Editar</a>
                                      </div>
                                      <div class="dropdown-item">
                                          <a class="button" th:method="get" th:href="@{/evolucao/listar/{id}(id=${p.id})}" >Evolucao</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </td>
                  </tr>
              </table>


      </div>
      <div class="column  is-one-quarter">

      </div>
  </div>

</body>
</html>